@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
body::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 12px;
}

/* Line numbers start */
code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

/* Code Start */
.prose code::before,
.prose code::after {
  content: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.prose pre {
  @apply border border-neutral-200 dark:border-neutral-800 !bg-neutral-50 dark:!bg-neutral-900 py-4;
}

.prose code {
  @apply text-neutral-800 dark:text-neutral-200 px-1 py-0.5 border border-neutral-100 dark:border-neutral-800 rounded-lg bg-neutral-100 dark:bg-neutral-900;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid gap-y-1 min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
